body {
  font-family: "Poppins", sans-serif;
  background: #181525;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  margin: 30px 0;
  text-align: center;
  line-height: 1;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 5px;
  font-weight: 900;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/budapest-building2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  text-align: center;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url(/img/bg-footer1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header h2 {
  margin-bottom: 48px;
}

header a {
  color: black;
  background: white;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 16px 32px;
  text-decoration: none;
}

section h5 {
  margin: 0px;
  opacity: 0.6;
  letter-spacing: 5px;
}

section h2 {
  font-weight: 700;
}

section p {
  opacity: 0.6;
}

section {
  padding: 80px;
}

section img {
  width: 100%;
  display: block;
}

.eat {
  text-align: center;
  background-color: #272435;
}

.photos {
  text-align: center;
}

.boxes2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

footer {
  padding: 30px 80px;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer ul {
  list-style-type: none;
  padding: 0px;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  header a {
    font-size: 10px;
    letter-spacing: 3px;
    padding: 14px 28px;
  }

  footer h4 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  section {
    padding: 30px;
  }

  .boxes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .boxes2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
  }
}
